.header_restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30% 14px 0px;

    .back_arrow {
      font-size: x-large;
      padding-left: 17px;
    }
   } 
   
   .restaurant_menu {
    display: flex;
    flex-direction: column;
    background-color: $second_background_color;
    width: 100%;
    border-radius: 50px 50px 0px 0px;  
    align-items: center;
    position: relative;
    margin-top: -50px;

  .title_menu {
    display: flex;
    padding: 25px 50px 25px 25px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
       &_text {
    @include font_restaurant_title;
       }
       .fa_heart {

        .fa-regular {
     font-size: 22px;
     padding-right: 20px;
     position: absolute;
     transition: 500ms;
     
         &:hover {
       color: $icon_color;
         }
       }

       .fa-solid {
         position: relative;
         font-size: 22px;
         padding-right: 20px;
         color: transparent;
         transition: 500ms;
         
         &:hover {
           color: $icon_color;
         }
       }
    }
  }

    .dishes_type {
      display: flex;
      width: 95%;
      border: none;
      flex-direction: column;
      margin-bottom: 35px;

       &_title {
        border-bottom: 6px solid #99e2d0;
        padding-bottom: 7px;
              }

      button {
        display: flex;
        border: $white_color;
        border-radius: 25px;
        background-color: $white_color;
        margin: 9px 13px;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        padding: 0px;
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
      

      .dishes_text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        text-align: left;

      
        h4 {
          @include font_second_title;
          margin: 0px;
        }

        p {
          @include font_p_restaurant;
        }
      }

      .dishes_price {
        display: flex;
        @include font_p_restaurant;
        font-weight: 700;

        p {
            display: flex;
            padding: 20px;
            align-items: flex-end;
        }

          &_transition {
            display: flex;
            background-color: #99e2d0;
            align-items: center;
            border-radius: 0px 25px 25px 0px;
            margin: 0px;
            color: $white_color;
            font-size: 30px;
            max-height:  69px;
            opacity: 0;
            transform-origin: bottom right;     
            transition: all 0.5s ease-in-out;
        }
      }
    }
      button:hover .dishes_price_transition {
             opacity: 1;
             padding: 30px;
    }
}
      
    .button {
        @include button;
        border: none;   
        margin-bottom: 40px;

        &:hover {
          cursor: pointer;
          background: $buton_gradient_transition;
          opacity: 0.80;
          box-shadow: $shadow_transition;
        }
      }
    }



/*****tablette******/

@media screen and (min-width: 768px) {

}

/*****desktop******/

@media screen and (min-width: 1224px) {

  .restaurant_menu {
    width: auto;
    padding-left: 225px;
    padding-right: 225px;
    margin-left: 192px;
    margin-right: 193px;

    .title_menu {
      justify-content: center;
      gap: 50px;
    }
  }
}