/*variables*/
/*mixin*/
/*general*/
body {
  max-width: 768px;
  min-width: 100%;
  background-color: white;
  margin: 0px;
}

* {
  font-family: roboto, sans-serif;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px 15px 0px 0px;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

/*header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .logo_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
  padding: 14px 89px 13px 89px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 17px;
  color: #353535;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header .location p {
  font-size: 16px;
  font-weight: 500;
}

/*app_bar*/
.app_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app_bar_text {
  text-align: center;
}
.app_bar .title {
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
  padding-top: 35px;
}
.app_bar p {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 20px;
}
.app_bar button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193deg, rgb(255, 121, 218) -11.44%, rgb(147, 86, 220) 123.93%);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: roboto, sans-serif;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 25px;
  margin-bottom: 50px;
}

/*functioning*/
.functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.functioning h2 {
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding-left: 25px;
}
.functioning_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  width: 100%;
}
.functioning_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;
  gap: 23px;
  padding: 20px;
  margin-bottom: 25px;
  width: 80%;
  position: relative;
}
.functioning_list li .fa-solid {
  color: #7e7e7e;
}
.functioning_list li p {
  font-size: 16px;
  font-weight: 500;
}
.functioning_list li .position_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  left: -10px;
}
.functioning_list li .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background: #9356dc;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

/*restaurant*/
.restaurants {
  background-color: #f6f6f6;
  padding: 25px 17px;
}
.restaurants_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.restaurants_cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  border-radius: 18px;
  gap: 15px;
  padding-bottom: 20px;
}
.restaurants_cards .card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 13px;
}
.restaurants_cards .card_content_text h3 {
  margin: 2px;
}
.restaurants_cards .card_content_text p {
  margin: 0px;
}
.restaurants_cards .card_content .fa-regular {
  font-size: 22px;
  padding-right: 20px;
}
.restaurants_cards .card .new_card {
  position: relative;
}
.restaurants_cards .card .new_card .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 20px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  width: 80px;
  height: 29px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
}

/*footer*/
.footer {
  background-color: #353535;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 25px;
}
.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.footer .link_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
}
.footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 137px;
  padding-bottom: 25px;
}